.container {
  width: 480px;
  height: 200px;
  overflow: hidden;
  background: #eee;
  margin: 0px 5px 10px 5px;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
    transition: all 0.5s;
  }
}
